<!-- Footer -->
<div class="clear"></div>
<div id="footer" style="background-color: #fff;">
  <div class="panel">
    <div class="content threecolumns tight footer-font-style download-div">
      <p class="footer-download-btn">Network connectivity for your cloud resources - deployed in minutes<br>Try the Aviatrix solution for FREE!</p>
      <div class="col-md-12 center">
        <a class="btn btn-download" href="http://aviatrix.com/download/" target="_blank">&nbsp;&nbsp;Download Aviatrix Software<br>FREE TRIAL
        </a>
      </div>
      <div class="col-md-12 center">
        <p class="disclaimer">Free networking tools made available by Aviatrix are intended strictly for informational purposes only. While we work to ensure the reliability of our results, we cannot guarantee their accuracy for any cloud service.</p>
      </div>
    </div>
  </div>
  <div class="panel" id="contact-bar">
    <div class="content">
      <a href="/" id="logo-reverse">&nbsp;</a>
        <h6 class="thin" style="font-size: 13px; text-transform: uppercase;">411 High Street &nbsp;&nbsp; Palo Alto, California 94301 &nbsp;&nbsp; +1.844.262.3100 &nbsp;&nbsp; <a href="mailto:info@aviatrix.com">info@aviatrix.com</a></h6>
    </div>
  </div>
</div>
<!-- End Footer -->
