<!-- Text on Dashboard image -->
<div class="panel marquee short" id="network-white">
  <div class="content threecolumns tight">
    <div class="column double margin-left-10">
      <h4 class="uppercase wide semitight-top">Multi-Cloud Network Performance&nbsp;Test</h4>
    </div>
  </div>
</div>
<!-- Left and Right Panel -->
<div class="row mrg-top-15 padding-left-right-15">
  <!-- Right panel -->
  <div class="col-md-6 pad-right-none">
    <div class="card card-radious-none" [ngClass]="{'height-94percent': (sourceTab || destinationTab) && !chartLoaded, 'height-96percent': (testTab || sourceTab || destinationTab) && chartLoaded}">
      <div class="card-header cart-header-right-panel height-94percent">
        <!-- Right Panel tooltip and timestamp -->
        <div class="row">
          <div class="col-sm-7 padding-right-0">
            <div class="card-title card-title-margin">{{properties.RIGHT_PANEL_HEADER}}&nbsp;<i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.RIGHT_PANEL_TOOLTIP}}"></i></div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <i class="fa fa-clock-o fa-lg clock" aria-hidden="true"></i>
              <md-select class="timestamp" [(ngModel)]="speedtestModel.timestamp" (ngModelChange)="changeTimestamp()">
                <md-option *ngFor="let range of dashboardModel.timeRanges" [value]="range.value"> {{ range.label }}</md-option>
              </md-select>
            </div>
          </div>
        </div>
        <!-- End Right Panel tooltip and timestamp -->
        <!-- Source, Destination, Test Tabs -->
        <div class="row menu-tab-header">
          <div class="col-4 col-sm-4 col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': sourceTab, 'menu-tab': !sourceTab && !validationSourceTab(), 'completed-menu-tab': !sourceTab && validationSourceTab()}" align="center" (click)="changeMenuTab(0)"><span class="bubble"></span><span class="line"></span>Source
          </div>
          <div class="col-4 col-sm-4 col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': destinationTab, 'menu-tab': !destinationTab && !validationDestnationTab(), 'completed-menu-tab': !destinationTab && validationDestnationTab(), 'incomplete-menu-tab': !validationDestnationTab() && testTab}" align="center" (click)="changeMenuTab(1)"><span class="bubble"></span><span class="line"></span>Destination(s)
          </div>
          <div class="col-4 col-sm-4 col-md-4 tab-btn" [ngClass]="{'selected-menu-tab': testTab, 'menu-tab': !testTab, 'incomplete-dest-menu-tab': !validationDestnationTab() && testTab}" align="center" (click)="changeMenuTab(2)"><span class="bubble"></span><span class="line"></span> Results
          </div>
        </div>
        <!-- Source Tab Content-->
        <div *ngIf="sourceTab" class="source-tab">
          <div class="row margin-top-10percent">
            <md-select class="drop-down" placeholder="Select Cloud Provider" [ngClass]="{'after-sselection-source-cloud': speedtestModel.sourceCloudProvider != '', 'before-sselection-source-cloud': speedtestModel.sourceCloudProvider == ''}" [(ngModel)]="speedtestModel.sourceCloudProvider" (change)="changeSourceCloudProvider()">
              <md-option value="azure">Azure</md-option>
              <md-option value="aws">AWS</md-option>
              <md-option value="gce">GCE</md-option>
            </md-select>
          </div>
          <div class="row margin-top-40">
            <md-select class="drop-down" [ngClass]="{'after-selection-source-region': speedtestModel.sourceCloudRegion != '', 'before-selection-source-region': speedtestModel.sourceCloudRegion == ''}" placeholder="Select Cloud Region" [(ngModel)]="speedtestModel.sourceCloudRegion" (change)="changeSourceRegion()">
              <md-option *ngFor="let region of sourceCloudRegions" [value]="region.cloud_info.region">{{ region.label }}</md-option>
            </md-select>
          </div>
        </div>
        <!-- End Source Tab Content-->
        <!-- Destination Tab content -->
        <div class="row height-170" *ngIf="destinationTab">
          <div class="col-sm-12">
            <div class="row destination-tab" align="center">
              <div class="col-4 col-sm-4 cursor-pointer" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'azure', 'non-active-destination-menu': destinationCloudProvider != 'azure'}" (click)="setDestinationCloudProvider('azure')">
                <span class="cursor-pointer">Azure</span>
              </div>
              <div class="col-4 col-sm-4 cursor-pointer" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'aws', 'non-active-destination-menu region-tab-border': destinationCloudProvider != 'aws'}" (click)="setDestinationCloudProvider('aws')">
                <span class="">AWS</span>
              </div>
              <div class="col-4 col-sm-4 cursor-pointer" [ngClass]="{'active-destination-menu': destinationCloudProvider == 'gce', 'non-active-destination-menu': destinationCloudProvider != 'gce'}" (click)="setDestinationCloudProvider('gce')">
                <span class="cursor-pointer">GCE</span>
              </div>
            </div>
            <div class="row tab-details-msg" align="center">
              <div class="col-12 col-sm-12">
                Please select multiple region(s) from multiple cloud provider(s).
              </div>
            </div>
            <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'azure'">
              <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('azure');" *ngIf="selectedAllAzureRegion">
              <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('azure');" *ngIf="!selectedAllAzureRegion">
              <label (click)="selectAndDeselectAllCloudRegions('azure');" class="display-inline-text-icon margin-top-5">
                Select All Azure Regions
              </label>
            </div>
            <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'aws'">
              <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('aws');" *ngIf="selectedAllAWSRegion">
              <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('aws');" *ngIf="!selectedAllAWSRegion">
              <label (click)="selectAndDeselectAllCloudRegions('aws');" class="display-inline-text-icon margin-top-5">
                Select All AWS Regions
              </label>
            </div>
            <div class="row destination-cloud-provider" *ngIf="destinationCloudProvider == 'gce'">
              <img src="/assets/ic_check_box_filled@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('gce');" *ngIf="selectedAllGCERegion">
              <img src="/assets/ic_check_box_outline@2x.png" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="selectAndDeselectAllCloudRegions('gce');" *ngIf="!selectedAllGCERegion">
              <label (click)="selectAndDeselectAllCloudRegions('gce');" class="display-inline-text-icon margin-top-5">
                Select All Google Cloud Regions
              </label>
            </div>
            <div class="row" [ngClass]="{'destination-region': (sourceTab || destinationTab) && !chartLoaded, 'destination-region-after-test': (testTab || sourceTab || destinationTab) && chartLoaded}" *ngIf="destinationCloudProvider == 'azure'">
              <template ngFor let-option [ngForOf]="dashboardModel.azureRegions" let-i="index">
                <div class="col-sm-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                  <img src="/assets/ic_check_box_filled@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <img src="/assets/ic_check_box_outline@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10 display-inline-text-icon" (click)="updateCheckbox(option);">
                    {{option.label}}
                  </label>
                </div>
              </template>
            </div>
            <div class="row" [ngClass]="{'destination-region': (sourceTab || destinationTab) && !chartLoaded, 'destination-region-after-test': (testTab || sourceTab || destinationTab) && chartLoaded}" *ngIf="destinationCloudProvider == 'aws'">
              <template ngFor let-option [ngForOf]="dashboardModel.awsRegions" let-i="index">
                <div class="col-md-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                  <img src="/assets/ic_check_box_filled@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <img src="/assets/ic_check_box_outline@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10 display-inline-text-icon" (click)="updateCheckbox(option);">
                    {{option.label}}
                  </label>
                </div>
              </template>
            </div>
            <div class="row" [ngClass]="{'destination-region': (sourceTab || destinationTab) && !chartLoaded, 'destination-region-after-test': (testTab || sourceTab || destinationTab) && chartLoaded}" *ngIf="destinationCloudProvider == 'gce'">
              <template ngFor let-option [ngForOf]="dashboardModel.gceRegions" let-i="index">
                <div class="col-md-6 padding-0" *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion">
                  <img src="/assets/ic_check_box_filled@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <img src="/assets/ic_check_box_outline@2x.png" alt="Region" width="22" height="22" class="margin-right-5 display-inline-text-icon" (click)="updateCheckbox(option);" *ngIf="!option.isSelected && (speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion)">
                  <label *ngIf="speedtestModel.sourceCloudProvider != destinationCloudProvider || option.cloud_info.region != speedtestModel.sourceCloudRegion" class="padding-top-10 display-inline-text-icon" (click)="updateCheckbox(option);">
                    {{option.label}}
                  </label>
                </div>
              </template>
            </div>
          </div>
        </div>
        <!-- End Destination Tab content -->
        <!-- Test Tab content -->
        <div *ngIf="testTab" class="row margin-botton-ve5">
          <div class="col-sm-12">
            <div class="row test-source">
              <div class="col-sm-5">
                <span class="test-source-cloud-label">Source Provider:&nbsp;</span>
                <span>
                  <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'aws'">AWS</span>
                <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'azure'">Azure</span>
                <span class="color-a8a8a8" *ngIf="speedtestModel.sourceCloudProvider == 'gce'">GCE</span>
                </span>
              </div>
              <div class="col-sm-7">
                <span class="test-source-region-label">Source Region:&nbsp;</span>
                <span class="color-a8a8a8">{{currentSourceRegion.region_name}}</span>
              </div>
            </div>
            <!-- Analytics table header -->
            <div class="row margin-none">
              <table class="table table-striped region-table-header text-wrap">
                <thead>
                  <tr>
                    <th colspan="2" width="53%">
                      <span class="column-header" (click)="sortBy('region_name')">{{properties.RIGHT_PANEL_REGION_COLUMN_HEADER}} <i class="fa sort-style" [ngClass]="{'fa-sort': sortableColumn != 'region_name', 'fa-sort-asc': (sortableColumn == 'region_name' && isDesc), 'fa-sort-desc': (sortableColumn == 'region_name' && !isDesc) }" aria-hidden="true"> </i>
                      </span>
                    </th>
                    <th width="23%" class="padding-left-2">
                      <span class="column-header" (click)="sortBy('latency')">{{properties.RIGHT_PANEL_LATENCY_COLUMN_HEADER}} <i class="fa sort-style" [ngClass]="{'fa-sort': sortableColumn != 'latency', 'fa-sort-asc': (sortableColumn == 'latency' && isDesc), 'fa-sort-desc': (sortableColumn == 'latency' && !isDesc) }" aria-hidden="true"> </i>
                      </span>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- End Analytics table header -->
            <!-- List of selected destination regions as per cloud provider -->
            <div class="row destination-region-table margin-none width-100">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let region of speedtestModel.destinationRegions">
                    <td class="width-7"><img src="{{region.logoUrl}}" alt="Region" width="17" height="17"></td>
                    <td class="text-wrap width-46per">{{region.region_name}}</td>
                    <td class="latency-column">
                      <span *ngIf="!region.latency"> {{properties.NA_TEXT}}</span>
                      <span *ngIf="region.latency">{{region.latency}}</span>
                    </td>
                  </tr>
                  <div class="empty-destination-label" *ngIf="speedtestModel.destinationRegions.length < 1">
                    Click on destination(s) tab to select destination(s) region to start test
                  </div>
                </tbody>
              </table>
            </div>
          </div>
          <!-- List of selected destination regions as per cloud provider -->
        </div>
        <!-- Test Tab content -->
      </div>
      <!-- Next and Back buttons -->
      <div class="flow-buttons-bottom">
        <a class="pull-left active-back-button" (click)="backTab();" *ngIf="destinationTab"><i class="fa fa-chevron-left padding-right-10" aria-hidden="true"></i> Previous</a>
        <button class="{{validate() ? 'pull-right btn btn-start next-button-common':'btn next_btn_disabled pull-right next-button-common'}}" (click)="nextTab();" [disabled]="!validate()" *ngIf="sourceTab"> Next <i class="fa fa-chevron-right padding-left-10" aria-hidden="true"></i></button>
        <button class="{{validate() ? 'pull-right btn btn-start begin-test-button-common':'btn next_btn_disabled pull-right begin-test-button-common'}}" (click)="nextTab();" [disabled]="!validate()" *ngIf="destinationTab"> Begin Test <i class="fa fa-play padding-left-10" aria-hidden="true"></i></button>
        <button class="btn btn-start outline-none" (click)="startTest();" [disabled]="speedtestModel.destinationRegions.length < 1" *ngIf="testTab">Restart Test<i class="fa fa-play padding-left-10" aria-hidden="true"></i></button>
      </div>
      <!-- End Next and Back buttons -->
    </div>
    <!-- Test Tab content -->
  </div>
  <!-- End Right Panel -->
  <!-- Left panel with map -->
  <div class="col-md-6">
    <div class="card card-radious-none">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7padding-right-0">
            <div class="card-title card-title-margin">Cloud Regions &nbsp;
              <i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.CLOUD_REGION_TOOLTIP}}"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block padding-0">
        <div id="map" class="height-306"></div>
      </div>
    </div>
    <!-- Left panel with latency grapg -->
    <!-- <div class="col-md-6 pad-right-none"> -->
    <div class="card card-radious-none">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h6 class="card-title card-title-margin">{{properties.LATENCY_CHART_HEADER}} <span>&nbsp; <i class="fa fa-info-circle fa-lg info-color cursor-pointer" aria-hidden="true" mdTooltip="{{properties.LATENCY_CHART_TOOLTIP}}" mdTooltipPosition="right"></i></span></h6></div>
        </div>
      </div>
      <div class="card-block" #latencyCard>
        <chart [options]="latencyOptions" (load)="latencyInstance($event.context)" *ngIf="latencyOptions !== null" class="chart-height" [ngClass]="{'display-block': chartLoaded}"></chart>
        <h6 class="chart-label" *ngIf="!chartLoaded">Select source and destination(s) to begin test.</h6>
      </div>
    </div>
    <!-- End Left panel with latency graph -->
  </div>
  <!-- End Left panel with map -->
</div>
<!-- End Right and left panel -->
<!-- Left and Right panel for latency and throughput graphs -->
<div class="row mrg-bottom-15 padding-left-right-15">
</div>
<!-- End Left and Right panel for latency and throughput graphs -->
<div *ngIf="isEmailPopOpen">
  <div class="md-overlay-container overlay">
    <div id="mat-overlay-0" class="mat-overlay-pane dialog-position">
      <div class="dialog-size">
        <div class="email-marketo-form">
          <form name="emailForm" id="mktoForm_1143"></form>
        </div>
      </div>
    </div>
  </div>
</div>
