.emailbtn {
    min-width: 35px !important; 
    height: 25px !important; 
    margin-top: 0px;
    background-color: #00ACEE; 
    color: #ffffff; 
    margin-right: 5px; 
    border-radius: .2em;
}

.emailbtn:hover {
    background-color: #008abe; 
    color: #FFFFFF !important;
}

.share-btn {
	margin-top: -7px; 
	right: 0px; 
	position: absolute; 
	z-index: 900;
}